html[data-theme='red'] {
    --success: #449600;
    --success-hover: #467b19;
    --danger: #cd201f;
    --danger-hover: #a11918;
    --global-bg-color: var(--white);
    --global-text-color: var(--darker);
    --global-nav-tabs-color: var(--gray-ldark);
    --global-nav-tabs-border: var(--gray-ldark);
    --global-topnav-bg-color: #a11918;
    --global-topnav-text-color: var(--white);
    --global-topnav-bg-color-hover: var(--light);
    --global-topnav-text-color-hover: var(--light);
    --global-topnav-bg-color-active: var(--light);
    --global-topnav-text-color-active: var(--light);
    --global-table-bg-head-color: #a11918;
    --global-table-bg-head-border-color: #a11918;
    --global-table-text-head-color: var(--light);
    --global-label-text-color: var(--darker);
    --global-footer-top-border: var(--light-gray);
    --global-pagination-text-color: var(--white);
    --global-pagination-bg-color: #325675
  }