.list-group-item {
    position: relative;
    display: block;
    padding: 0.5rem 0 0 1rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 0 !important;
}

.sidebar {
    margin-top: 15px;
}

.sidebar .card-body {
    padding: 0;
}

.list-targets {
    padding: .5rem 0 0 2.5rem !important;
}

.list-targets a:hover {
    color: #0e2230 !important;
}

.card-body> :last-child {
    margin-bottom: 10px !important;
}

.row-deck .card {
    padding: 15px;
}

.row-deck .card-tabs {
    padding: 0 !important;
}

#ajaxloader {
    position: absolute;
    width: 325px;
    height: 150px;
    background: #ffffff url('../images/ajax-loader.gif') no-repeat center center;
    border: solid 2px #e1e1e1;
    border-radius: 10px;
    /*background: rgba(255, 255, 255, 0.85);*/
    padding: 20px;
    text-align: center;
    z-index: 100;
}


.formbutton-default {
    padding: 6px 30px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 12px;
    font-weight: bold;
    transition: all ease 500ms;
    border-top: 1px #e6e1e1 solid;
}

.formbutton-success,
.formbutton-danger {
    padding: 6px 30px;
    border-style: solid;
    border-width: 1px;
    border-bottom-width: solid;
    font-size: 12px;
    font-weight: bold;
    transition: all ease 500ms;
}

.formbutton-narrow {
    padding: 6px 8px;
    margin-left: 2px;
    margin-right: 2px;
}

.formbutton-narrower {
    padding: 4px 6px;
}

.formbutton-default {
    background: linear-gradient(to bottom, white, #b9bbbd);
    color: #101a22;
    border-bottom-color: #ccc;
}

.formbutton-default:hover {
    background: linear-gradient(to bottom, #f2f2f2, #acaeb1);
}

.formbutton-success {
    background: linear-gradient(to bottom, #568a5f, #44a053);
    border-color: #5aab68;
    border-bottom-color: #5aab68;
    color: #ffffff !important;
}

.formbutton-success:hover {
    background: linear-gradient(to bottom, #69c579, #59b167);
}

.formbutton-success:hover,
.formbutton-success.active {
    border-bottom-color: #509b5a;
    color: #101a22;
}

.formbutton-danger {
    background: linear-gradient(to bottom, #c70f19, #b60008);
    border-color: #980b13;
    border-bottom-color: #980b13;
    color: white;
}

.formbutton-danger:hover {
    background: linear-gradient(to bottom, #c30b15, #b20004);
}

.formbutton-danger:hover,
.formbutton-danger.active {
    border-bottom-color: #8f0209;
    color: white;
}

.btn-right-block {
    max-width: 25rem;
    margin-bottom: 10px;
    margin-left: 5px;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #325675;
    border-color: #325675;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    color: #2a6496;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #325675;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.table .dark th,
.text-wrap table .dark th {
    color: #f5f7fb;
    background-color: #212529;
    border-color: #32383e;
}

.fieldset-legend {
    font-weight: bold;
}

tr.tbl_row_noresults.tbl_row_uneven {
    line-height: 3rem;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #ece9e9;
    border-color: #ddd;
}

.panel-group .panel-heading {
    border-bottom: 0;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-group .panel+.panel {
    margin-top: 5px;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}

.panel-default {
    border-color: #ddd;
}

.panel {
    margin: 5px !important;
    background-color: #fff;
    border: 1px solid #CCCCCC;
    /*border-radius: 4px;*/
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.form-check.custom {
    padding: 5px 0px 5px 0px;
}

.form-group.row {
    display: flex;
    margin-top: 1rem;
    margin-left: -0.75rem;
}

thead td select.form-control {
    height: 2.35rem;
}

#template_additional_list li a {
    margin: 0px 0 0 10px;
}

.input-group-text {
    background-color: #f1f1f1;
}

.df-cheader {
    display: inline-table;
}

.df-cheader-title {
    font-weight: bold;
    margin-bottom: 0em;
}

.df-cdata {
    display: inline-table;
    font-weight: 500;
}

.df-resultbox {
    border: 1px solid #e4e4e4;
}