<div class='page-header'>
	<h1 class="page-title">
		<tmpl_var name="list_head_txt">
	</h1>
</div>

<div class="row row-cards row-deck">
	<div class="card">
		<div class="table-responsive">
			<table class="table card-table table-vcenter table-hover">
				<thead class="thead-dark form-group-sm">
					<tr>
						<th data-column="database_name">
							<tmpl_var name="database_txt">
						</th>
						<th data-column="server_name">
							<tmpl_var name="server_name_txt">
						</th>
						<th data-column="client">
							<tmpl_var name="client_txt">
						</th>
						<th data-column="used">
							<tmpl_var name="used_txt">
						</th>
						<th data-column="quota">
							<tmpl_var name="quota_txt">
						</th>
						<th data-column="percentage">
							<tmpl_var name="percentage_txt">
						<th class="small-col text-right">{tmpl_var name='search_limit'}</th>
					</tr>
					<tr>
						<td><input class="form-control" type="text" name="search_database_name" value="{tmpl_var name='search_database_name'}" /></td>
						<td class="server_name">&nbsp;</td>
						<td class="client">&nbsp;</td>
						<td class="used">&nbsp;</td>
						<td class="quota">&nbsp;</td>
						<td class="percentage">&nbsp;</td>
						<td class="text-right">
							<button type="button" class="btn btn-secondary" name="Filter" id="Filter" value="{tmpl_var name=" filter_txt"}" data-submit-form="pageForm" data-form-action="sites/database_quota_stats.php"><span class="icon icon-filter"></span></button>
						</td>
					</tr>
				</thead>
				<tbody>
					<tmpl_loop name="records">
						<tr>
							<td><a href="#" data-load-content="sites/database_edit.php?id={tmpl_var name='id'}">{tmpl_var name="database"}</a></td>
							<td><a href="#" data-load-content="sites/database_edit.php?id={tmpl_var name='id'}">{tmpl_var name="server_name"}</a></td>
							<td><a href="#" data-load-content="sites/database_edit.php?id={tmpl_var name='id'}">{tmpl_var name="client"}</a></td>
							<td><a href="#" data-load-content="sites/database_edit.php?id={tmpl_var name='id'}">{tmpl_var name="used"}</a></td>
							<td><a href="#" data-load-content="sites/database_edit.php?id={tmpl_var name='id'}">{tmpl_var name="quota"}</a></td>
							<td><a href="#" data-load-content="sites/database_edit.php?id={tmpl_var name='id'}">{tmpl_var name="percentage"}</a></td>
							<td class="text-right"></td>
						</tr>
					</tmpl_loop>
					<tmpl_unless name="records">
						<tr class="tbl_row_noresults tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
							<td colspan="7">{tmpl_var name='globalsearch_noresults_text_txt'}</td>
						</tr>
					</tmpl_unless>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="7">
							<tmpl_var name="paging">
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>