<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="parent_domain_id" class="col-sm-3 control-label">{tmpl_var name='parent_domain_id_txt'}</label>
            <select name="parent_domain_id" id="parent_domain_id" class="form-control">
                {tmpl_var name='parent_domain_id'}
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="path" class="col-sm-3 control-label">{tmpl_var name='path_txt'}</label>
            <input type="text" name="path" id="path" value="{tmpl_var name='path'}" class="form-control" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-check custom">
            {tmpl_var name='active'}
            <label class="form-check-label">
                {tmpl_var name='active_txt'}
            </label>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-7">
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <div class="float-right" style="padding-top: 1rem; padding-bottom: 1rem;">
            <button class="btn btn-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="sites/web_folder_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-secondary" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="sites/web_folder_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div>
    </div>
</div>