<div class="col-md-12 col-lg-6 row">
    <tmpl_if name="config_error_msg">
        <div class="alert alert-danger">
            <p>
                <tmpl_var name="configuration_error_txt">
                    <div>
                        <div style="float:left;width:150px;">{tmpl_var name='config_error_tstamp'} :&nbsp;</div>
                        <div style="padding-left:150px;">{tmpl_var name='config_error_msg'}</div>
                    </div>
            </p>
        </div>
    </tmpl_if>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">{tmpl_var name='stats_user_txt'}</label>
            <div class="checkbox">&nbsp; &nbsp;admin</div>
        </div>
    </div>
</div>

<div class="col-md-12 col-lg-6 row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="stats_password" class="col-form-label">{tmpl_var name='stats_password_txt'}</label>
            <div class="input-group">
                <input type="password" name="stats_password" id="stats_password" value="{tmpl_var name='stats_password'}" class="form-control" autocomplete="off" onkeyup="pass_check(this.value);checkPassMatch('stats_password','repeat_password');" />
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" onclick="generatePassword('stats_password','repeat_password');">{tmpl_var name='generate_password_txt'}</button>
                </span>
            </div>
            <div>
                <label class="control-label">{tmpl_var name='password_strength_txt'}</label>
                <div class="checkbox">
                    <div id="passBar"></div>
                    <span id="passText">&nbsp;</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="repeat_password" class="col-form-label">{tmpl_var name='repeat_password_txt'}</label>
            <input type="password" name="repeat_password" id="repeat_password" value="" autocomplete="off" class="form-control" onkeyup="checkPassMatch('stats_password','repeat_password');" />
        </div>
        <div>
            <div id="confirmpasswordError" style="display:none;" class="confirmpassworderror">{tmpl_var name='password_mismatch_txt'}</div>
            <div id="confirmpasswordOK" style="display:none;" class="confirmpasswordok">{tmpl_var name='password_match_txt'}</div>
        </div>
    </div>
</div>

<div class="col-md-12 col-lg-6 row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="stats_type" class="control-label">{tmpl_var name='stats_type_txt'}</label>
            <select name="stats_type" id="stats_type" class="form-control">
                {tmpl_var name='stats_type'}
            </select>
        </div>
    </div>
</div>

<div class="row" style="padding: 10px;">
    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="col-md-5">
        <div class="float-right">
            <button class="btn btn-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="sites/web_vhost_domain_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-secondary" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="sites/web_vhost_domain_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div>
    </div>
</div>