<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <tmpl_if name="edit_disabled">
                <label for="parent_domain_id" class="control-label">{tmpl_var name='parent_domain_id_txt'}</label>
                <select name="parent_domain_id" id="parent_domain_id" class="form-control" disabled="disabled">
                    {tmpl_var name='parent_domain_id'}
                </select>
                <input type="hidden" name="parent_domain_id" value="{tmpl_var name='parent_domain_id_value'}" />
                <tmpl_else>
                    <label for="parent_domain_id" class="control-label">{tmpl_var name='parent_domain_id_txt'}</label>
                    <select name="parent_domain_id" id="parent_domain_id" class="form-control">
                        {tmpl_var name='parent_domain_id'}
                    </select>
            </tmpl_if>
        </div>
    </div>
    <div class="col-md-3">

        <label for="username">{tmpl_var name='username_txt'}</label>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><span class="input-group-addon" id="database_name-desc">{tmpl_var name='username_prefix'}</span></div>
            </div>
            <input type="text" name="username" id="username" value="{tmpl_var name='username'}" class="form-control" aria-describedby="username-desc" />
        </div>

    </div>
</div>
<div class="row">


    <div class="col-md-3">
        <div class="form-group">
            <label for="password" class="col-form-label">{tmpl_var name='password_txt'}</label>
            <div class="input-group">
                <input type="password" name="password" id="password" value="{tmpl_var name='password'}" class="form-control" autocomplete="off" onkeyup="pass_check(this.value);checkPassMatch('password','repeat_password');" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="generatePassword('password','repeat_password');">{tmpl_var name='generate_password_txt'}</button>
                </span>
            </div>
            <div>
                <label class="control-label">{tmpl_var name='password_strength_txt'}</label>
                <div class="checkbox">
                    <div id="passBar"></div>
                    <span id="passText">&nbsp;</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="repeat_password" class="col-form-label">{tmpl_var name='repeat_password_txt'}</label>
            <input type="password" name="repeat_password" id="repeat_password" value="" class="form-control" autocomplete="off" onkeyup="checkPassMatch('password','repeat_password');" />
        </div>
        <div>
            <div id="confirmpasswordError" style="display:none;" class="confirmpassworderror">{tmpl_var name='password_mismatch_txt'}</div>
            <div id="confirmpasswordOK" style="display:none;" class="confirmpasswordok">{tmpl_var name='password_match_txt'}</div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        <label for="dir">{tmpl_var name='dir_txt'}</label>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><span class="input-group-addon" id="database_name-desc">webdav/</span></div>
            </div>
            <input type="text" name="dir" id="dir" value="{tmpl_var name='dir'}" class="form-control" aria-describedby="dir-desc" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-check custom">
            {tmpl_var name='active'}
            <label class="form-check-label">
                {tmpl_var name='active_txt'}
            </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <div class="float-right" style="padding-top: 1rem; padding-bottom: 1rem;">
            <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="sites/webdav_user_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="sites/webdav_user_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div>
    </div>
</div>