<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="name" class="control-label">{tmpl_var name='name_txt'}</label>
            <input type="text" name="name" id="name" value="{tmpl_var name='name'}" class="form-control" />
            <p class="formHint">{tmpl_var name='name_hint_txt'}</p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="data" class="control-label">{tmpl_var name='data_txt'}</label>
            <input type="text" name="data" id="data" value="{tmpl_var name='data'}" class="form-control" />
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <label for="ttl" class="control-label">{tmpl_var name='ttl_txt'}</label>
            <input type="text" name="ttl" id="ttl" value="{tmpl_var name='ttl'}" class="form-control" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-check custom">
            {tmpl_var name='active'}
            <label class="form-check-label">
                {tmpl_var name='active_txt'}
            </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <input type="hidden" name="zone" value="{tmpl_var name='zone'}">
        <input type="hidden" name="type" value="{tmpl_var name='type'}">
        <div class="float-right" style="padding-top: 1rem; padding-bottom: 1rem;">
            <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="dns/dns_rp_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="dns/dns_soa_edit.php?id={tmpl_var name='zone'}&next_tab=dns_records">{tmpl_var name='btn_cancel_txt'}</button>
        </div>
    </div>
</div>