<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label for="data" class="control-label">{tmpl_var name='public_key_txt'}</label>
			<tmpl_if name="edit_disabled">
				<textarea class="form-control" readonly name="data" id="data">{tmpl_var name='public_key'}</textarea>
				<tmpl_else>
					<textarea class="form-control" name="data" id="data">{tmpl_var name='public_key'}</textarea>
			</tmpl_if>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-5">
		<div class="form-group">
			<label for="selector" class="control-label">{tmpl_var name='selector_txt'}</label>
			<tmpl_if name="edit_disabled">
				<input type="text" name="selector" id="selector" value="{tmpl_var name='selector'}" readonly class="form-control" />
				<tmpl_else>
					<input type="text" name="selector" id="selector" value="{tmpl_var name='selector'}" class="form-control" />
			</tmpl_if>
		</div>
	</div>
	<div class="col-md-1">
		<div class="form-group">
			<label for="ttl" class="control-label">{tmpl_var name='ttl_txt'}</label>
			<input type="text" name="ttl" id="ttl" value="{tmpl_var name='ttl'}" class="form-control" />
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="form-check custom">
			{tmpl_var name='active'}
			<label class="form-check-label">
				{tmpl_var name='active_txt'}
			</label>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<input type="hidden" name="id" value="{tmpl_var name='id'}">
		<input type="hidden" name="zone" value="{tmpl_var name='zone'}" id="zone">
		<input type="hidden" name="type" value="{tmpl_var name='type'}">
		<input type="hidden" name="name" value="{tmpl_var name='name'}">
		<div class="float-right" style="padding-top: 1rem; padding-bottom: 1rem;">
			<button class="btn btn-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="dns/dns_dkim_edit.php">{tmpl_var name='btn_save_txt'}</button>
			<button class="btn btn-secondary" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="dns/dns_soa_edit.php?id={tmpl_var name='zone'}&next_tab=dns_records">{tmpl_var name='btn_cancel_txt'}</button>
		</div>
	</div>
</div>