<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label for="name" class="control-label">{tmpl_var name='name_txt'}</label>
            <input type="text" name="name" id="name" value="{tmpl_var name='name'}" class="form-control" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="order" class="control-label">{tmpl_var name='order_txt'}</label>
            <input type="text" name="order" id="order" value="{tmpl_var name='aux'}" class="form-control" placeholder="100" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="pref" class="control-label">{tmpl_var name='pref_txt'}</label>
            <input type="text" name="pref" id="pref" value="{tmpl_var name='pref'}" class="form-control" placeholder="100" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="flags" class="control-label">{tmpl_var name='flags_txt'}</label>
            <input type="text" name="flags" id="flags" value="{tmpl_var name='flags'}" class="form-control" placeholder="s" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label for="service" class="control-label">{tmpl_var name='service_txt'}</label>
            <input type="text" name="service" id="service" value="{tmpl_var name='service'}" class="form-control" placeholder="http+I2R" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="regexp" class="control-label">{tmpl_var name='regexp_txt'}</label>
            <input type="text" name="regexp" id="regexp" value="{tmpl_var name='regexp'}" class="form-control" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="replacement" class="control-label">{tmpl_var name='replacement_txt'}</label>
            <input type="text" name="replacement" id="replacement" value="{tmpl_var name='replacement'}" class="form-control" placeholder="_http._tcp.foo.com." />
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="ttl" class="control-label">{tmpl_var name='ttl_txt'}</label>
            <input type="text" name="ttl" id="ttl" value="{tmpl_var name='ttl'}" class="form-control" />
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-check custom">
            {tmpl_var name='active'}
            <label class="form-check-label">
                {tmpl_var name='active_txt'}
            </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <input type="hidden" name="zone" value="{tmpl_var name='zone'}">
        <input type="hidden" name="type" value="{tmpl_var name='type'}">
        <div class="float-right" style="padding-top: 1rem; padding-bottom: 1rem;">
            <button class="btn btn-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="dns/dns_naptr_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-secondary" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="dns/dns_soa_edit.php?id={tmpl_var name='zone'}&next_tab=dns_records">{tmpl_var name='btn_cancel_txt'}</button>
        </div>
    </div>
</div>