<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="server_name" class="control-label">{tmpl_var name='server_name_txt'}</label>
            <input type="text" name="server_name" id="server_name" value="{tmpl_var name='server_name'}" class="form-control" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            {tmpl_var name='mail_server'}
            <label class="control-label">{tmpl_var name='mail_server_txt'}</label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            {tmpl_var name='web_server'}
            <label class="control-label">{tmpl_var name='web_server_txt'}</label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            {tmpl_var name='dns_server'}
            <label class="control-label">{tmpl_var name='dns_server_txt'}</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            {tmpl_var name='file_server'}
            <label class="control-label">{tmpl_var name='file_server_txt'}</label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            {tmpl_var name='db_server'}
            <label class="control-label">{tmpl_var name='db_server_txt'}</label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            {tmpl_var name='vserver_server'}
            <label class="control-label">{tmpl_var name='vserver_server_txt'}</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            {tmpl_var name='xmpp_server'}
            <label class="control-label">{tmpl_var name='xmpp_server_txt'}</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <tmpl_if name=" id" op="!=" value="1">
            <div class="form-group">
                <label for="mirror_server_id" class="control-label">{tmpl_var name='mirror_server_id_txt'}</label>
                <select name="mirror_server_id" id="server_id" class="form-control">
                    {tmpl_var name='mirror_server_id'}
                </select>
            </div>
        </tmpl_if>
        <div class="form-group">
            <label for="active" class="control-label">{tmpl_var name='active_txt'}</label>
            <select name="active" id="active" class="form-control">
                {tmpl_var name='active'}
            </select>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-5">
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <div class="float-right" style="padding-top: 1rem; padding-bottom: 1rem;">
            <button class="btn btn-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="admin/server_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-secondary" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="admin/server_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div>
    </div>
</div>