<tmpl_if name="server_name">
    <div class="alert alert-info">
        <h4 style="text-align:center">
            <tmpl_var name="config_for_txt"> {tmpl_var name='server_name'}
        </h4>
    </div>
</tmpl_if>

<div class="row">
    <div class="form-group col-md-6">
        <label for="jailkit_chroot_home" class="control-label">{tmpl_var name='jailkit_chroot_home_txt'}</label>
        <input type="text" name="jailkit_chroot_home" id="jailkit_chroot_home" value="{tmpl_var name='jailkit_chroot_home'}" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label for="jailkit_chroot_app_sections" class="control-label">{tmpl_var name='jailkit_chroot_app_sections_txt'}</label>
        <input type="text" name="jailkit_chroot_app_sections" id="jailkit_chroot_app_sections" value="{tmpl_var name='jailkit_chroot_app_sections'}" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label for="jailkit_chroot_app_programs" class="control-label">{tmpl_var name='jailkit_chroot_app_programs_txt'}</label>
        <input type="text" name="jailkit_chroot_app_programs" id="jailkit_chroot_app_programs" value="{tmpl_var name='jailkit_chroot_app_programs'}" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label for="jailkit_chroot_cron_programs" class="control-label">{tmpl_var name='jailkit_chroot_cron_programs_txt'}</label>
        <input type="text" name="jailkit_chroot_cron_programs" id="jailkit_chroot_cron_programs" value="{tmpl_var name='jailkit_chroot_cron_programs'}" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        <label for="jailkit_chroot_authorized_keys_template" class="control-label">{tmpl_var name='jailkit_chroot_authorized_keys_template_txt'}</label>
        <input type="text" name="jailkit_chroot_authorized_keys_template" id="jailkit_chroot_authorized_keys_template" value="{tmpl_var name='jailkit_chroot_authorized_keys_template'}" class="form-control" />
    </div>
    <div class="form-group col-md-3">
        <label class="control-label">{tmpl_var name='jailkit_hardlinks_txt'}</label>
        <select name="jailkit_hardlinks" id="jailkit_hardlinks" class="form-control">
            <a data-toggle="tooltip" title="{tmpl_var name='tooltip_jailkit_hardlinks_txt'}">{tmpl_var name="jailkit_hardlinks"}</a>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <div class="float-right" style="padding-top: 1rem; padding-bottom: 1rem;">
            <button class="btn btn-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="admin/server_config_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-secondary" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="admin/server_config_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div>
    </div>
</div>