<div class="row">
    <div class="form-group col-md-3">
        <label for="server_id" class="control-label">{tmpl_var name='server_id_txt'}</label>
        <select name="server_id" id="server_id" class="form-control">
            {tmpl_var name='server_id'}
        </select>
    </div>
    <div class="form-group col-md-3">
        <label for="client_id" class="control-label">{tmpl_var name='client_id_txt'}</label>
        <select name="client_id" id="client_id" class="form-control">
            {tmpl_var name='client_id'}
        </select>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-2">
        <label for="ip_type" class="control-label">{tmpl_var name='ip_type_txt'}</label>
        <select name="ip_type" id="ip_type" class="form-control">
            {tmpl_var name='ip_type'}
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="ip_address" class="control-label">{tmpl_var name='ip_address_txt'}</label>
        <input type="text" name="ip_address" id="ip_address" value="{tmpl_var name='ip_address'}" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="form-group col-md-2" style="padding-top: 35px;">
        {tmpl_var name='virtualhost'}
        <label class="control-label">{tmpl_var name='virtualhost_txt'}</label>
    </div>
    <div class="form-group col-md-2">
        <label for="virtualhost_port" class="control-label">{tmpl_var name='virtualhost_port_txt'}</label>
        <input type="text" name="virtualhost_port" id="virtualhost_port" value="{tmpl_var name='virtualhost_port'}" class="form-control" />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <div class="float-right" style="padding-top: 1rem; padding-bottom: 1rem;">
            <button class="btn btn-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="admin/server_ip_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-secondary" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="admin/server_ip_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div>
    </div>
</div>