<tmpl_if name="server_name">
    <div class="alert alert-info">
        <h4 style="text-align:center">
            <tmpl_var name="config_for_txt"> {tmpl_var name='server_name'}
        </h4>
    </div>
</tmpl_if>

<div class="row">
    <div class="form-group col-md-3">
        <label for="bind_user" class="control-label">{tmpl_var name='bind_user_txt'}</label>
        <input type="text" name="bind_user" id="bind_user" value="{tmpl_var name='bind_user'}" class="form-control" />
    </div>
    <div class="form-group col-md-3">
        <label for="bind_group" class="control-label">{tmpl_var name='bind_group_txt'}</label>
        <input type="text" name="bind_group" id="bind_group" value="{tmpl_var name='bind_group'}" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        <label for="bind_zonefiles_dir" class="control-label">{tmpl_var name='bind_zonefiles_dir_txt'}</label>
        <input type="text" name="bind_zonefiles_dir" id="bind_zonefiles_dir" value="{tmpl_var name='bind_zonefiles_dir'}" class="form-control" />
    </div>
    <div class="form-group col-md-3">
        <label for="named_conf_path" class="control-label">{tmpl_var name='named_conf_path_txt'}</label>
        <input type="text" name="named_conf_path" id="named_conf_path" value="{tmpl_var name='named_conf_path'}" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label for="named_conf_local_path" class="control-label">{tmpl_var name='named_conf_local_path_txt'}</label>
        <input type="text" name="named_conf_local_path" id="named_conf_local_path" value="{tmpl_var name='named_conf_local_path'}" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        {tmpl_var name='disable_bind_log'}
        <label for="disable_bind_log" class="control-label">{tmpl_var name='disable_bind_log_txt'}</label>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <div class="float-right" style="padding-top: 1rem; padding-bottom: 1rem;">
            <button class="btn btn-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="admin/server_config_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-secondary" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="admin/server_config_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div>
    </div>
</div>