<style>
    .form-group br {
        display: none;
    }

    label {
        padding-right: 10px;
    }
</style>
<div class="row">
    <div class="form-group col-md-3">
        <label for="dbname_prefix" class="control-label">{tmpl_var name='dbname_prefix_txt'}</label>
        <input type="text" name="dbname_prefix" id="dbname_prefix" value="{tmpl_var name='dbname_prefix'}" class="form-control" />
    </div>
    <div class="form-group col-md-3">
        <label for="dbuser_prefix" class="control-label">{tmpl_var name='dbuser_prefix_txt'}</label>
        <input type="text" name="dbuser_prefix" id="dbuser_prefix" value="{tmpl_var name='dbuser_prefix'}" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        <label for="ftpuser_prefix" class="control-label">{tmpl_var name='ftpuser_prefix_txt'}</label>
        <input type="text" name="ftpuser_prefix" id="ftpuser_prefix" value="{tmpl_var name='ftpuser_prefix'}" class="form-control" />
    </div>
    <div class="form-group col-md-3">
        <label for="shelluser_prefix" class="control-label">{tmpl_var name='shelluser_prefix_txt'}</label>
        <input type="text" name="shelluser_prefix" id="shelluser_prefix" value="{tmpl_var name='shelluser_prefix'}" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        <label for="webdavuser_prefix" class="control-label">{tmpl_var name='webdavuser_prefix_txt'}</label>
        <input type="text" name="webdavuser_prefix" id="webdavuser_prefix" value="{tmpl_var name='webdavuser_prefix'}" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3" style="padding-top: 35px;">
        {tmpl_var name='dblist_phpmyadmin_link'}
        <label class="control-label">{tmpl_var name='dblist_phpmyadmin_link_txt'}</label>
    </div>
    <div class="form-group col-md-3">
        <label for="phpmyadmin_url" class="control-label">{tmpl_var name='phpmyadmin_url_txt'}</label>
        <input type="text" name="phpmyadmin_url" id="phpmyadmin_url" value="{tmpl_var name='phpmyadmin_url'}" class="form-control" />
        &nbsp;{tmpl_var name='phpmyadmin_url_note_txt'}<a href="javascript:void(0);" class="addPlaceholder">[SERVERNAME]</a>, <a href="javascript:void(0);" class="addPlaceholder">[DATABASENAME]</a>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        <label for="webftp_url" class="control-label">{tmpl_var name='webftp_url_txt'}</label>
        <input type="text" name="webftp_url" id="webftp_url" value="{tmpl_var name='webftp_url'}" class="form-control" />
    </div>
</div>
<div class="form-group col-md-3">
    {tmpl_var name='client_protection'}
    <label class="control-label">{tmpl_var name='client_protection_txt'}</label>
</div>
<div class="form-group col-md-6">
    {tmpl_var name='vhost_subdomains'}
    <label class="control-label">{tmpl_var name='vhost_subdomains_txt'}</label><br>
    &nbsp;&nbsp;&nbsp;{tmpl_var name='vhost_subdomains_note_txt'}
</div>
<div class="form-group col-md-6">
    {tmpl_var name='vhost_aliasdomains'}
    <label class="control-label">{tmpl_var name='vhost_aliasdomains_txt'}</label><br>
    &nbsp;&nbsp;&nbsp;{tmpl_var name='vhost_aliasdomains_note_txt'}
</div>
<div class="form-group col-md-6">
    {tmpl_var name='client_username_web_check_disabled'}
    <label class="control-label">{tmpl_var name='client_username_web_check_disabled_txt'}</label>
</div>
<div class="form-group col-md-6">
    {tmpl_var name='backups_include_into_web_quota'}
    <label class="control-label">{tmpl_var name='backups_include_into_web_quota_txt'}</label>
</div>
<div class="form-group col-md-6">
    {tmpl_var name='reseller_can_use_options'}
    <label class="control-label">{tmpl_var name='reseller_can_use_options_txt'}</label>
</div>
<div class="form-group col-md-6">
    <label class="control-label">{tmpl_var name='web_php_options_txt'}</label></br>
    <div>{tmpl_var name='web_php_options'}</div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        <label for="default_webserver" class="control-label">{tmpl_var name='default_webserver_txt'}</label>
        <select name="default_webserver" id="default_webserver" class="form-control">
            {tmpl_var name='default_webserver'}
        </select>
    </div>
    <div class="form-group col-md-3">
        <label for="default_dbserver" class="control-label">{tmpl_var name='default_dbserver_txt'}</label>
        <select name="default_dbserver" id="default_dbserver" class="form-control">
            {tmpl_var name='default_dbserver'}
        </select>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3" style="padding-top: 35px;">
        {tmpl_var name='disable_client_remote_dbserver'}
        <label class="control-label">{tmpl_var name='disable_client_remote_dbserver_txt'}</label>
    </div>
    <div class="form-group col-md-3">
        <label for="default_remote_dbserver" class="control-label">{tmpl_var name='default_remote_dbserver_txt'}</label>
        <input type="text" name="default_remote_dbserver" id="default_remote_dbserver" value="{tmpl_var name='default_remote_dbserver'}" class="form-control" />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <div class="float-right" style="padding-top: 1rem; padding-bottom: 1rem;">
            <button class="btn btn-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="admin/system_config_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-secondary" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="admin/users_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div>
    </div>
</div>