<tmpl_if name="list_head_txt">
    <div class='page-header'>
        <h1>
            <tmpl_var name="list_head_txt">
        </h1>
    </div>
</tmpl_if>
<tmpl_if name="list_desc_txt">
    <p>
        <tmpl_var name="list_desc_txt">
    </p>
</tmpl_if>

<div class="row">
    <div class="form-group col-md-6">
        {tmpl_var name='use_domain_module'}
        <label>{tmpl_var name='use_domain_module_txt'}</label>
        <p>{tmpl_var name='use_domain_module_hint'}</p>

    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label class="control-label">{tmpl_var name='new_domain_txt'}</label>
        <textarea class="form-control" name="new_domain_html" id="new_domain_html" height: 250px">{tmpl_var name='new_domain_html'}</textarea>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <div class="float-right" style="padding-top: 1rem; padding-bottom: 1rem;">
            <button class="btn btn-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="admin/system_config_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-secondary" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="admin/users_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div>
    </div>
</div>