<div class='page-header'>
    <h1 class="page-title">
        <tmpl_var name="list_head_txt">Import DNS records from Tupa PowerDNS controlpanel
    </h1>
</div>

<div class="row row-cards row-deck">
    <div class="card">

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label" for="dbhost">Tupa database hostname</label>
                    <input class="form-control" type="text" id="dbhost" value="{tmpl_var name='dbhost'}" name="dbhost" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label" for="dbname">Tupa database name</label>
                    <input class="form-control" type="text" id="dbname" value="{tmpl_var name='dbname'}" name="dbname" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label" for="dbuser">Tupa database user</label>
                    <input class="form-control" type="text" id="dbuser" value="{tmpl_var name='dbuser'}" name="dbuser" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label" for="dbpassword">Tupa database password</label>
                    <input class="form-control" type="text" id="dbpassword" value="{tmpl_var name='dbpassword'}" name="dbpassword" />
                </div>
            </div>
        </div>

        <p>Tupa database options</p>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <div id="dboptions">
                        <label class="checkbox-inline" for="dbssl"><input type="checkbox" id="dbssl" value="1" name="dbssl" <tmpl_if name='dbssl' op='==' value='true'>checked</tmpl_if>/> Use SSL</label>
                    </div>
                </div>
            </div>
        </div>

        <tmpl_if name="msg">
            <div class="row">
                <div class="col-md-6">
                    <div id="OKMsg">
                        <p>
                            <tmpl_var name="msg">
                        </p>
                    </div>
                </div>
            </div>
        </tmpl_if>
        <tmpl_if name="error">
            <div class="row">
                <div class="col-md-6">
                    <div class='alert alert-danger clear'>
                        <div class='alert-label'>
                            <strong>
                                <tmpl_var name="error_txt">
                            </strong>
                        </div>
                        <div class='alert-content'>
                            <ul style="list-style-type:none">
                                <tmpl_var name="error">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </tmpl_if>


        <div class="row">
            <div class="col-md-6">
                <input type="hidden" name="id" value="{tmpl_var name='id'}">
                <input type="hidden" name="start" value="1">
                <div class="float-right" style="padding-top: 1rem; padding-bottom: 1rem;">
                    <button class="btn btn-success" type="button" value="Import" data-submit-form="pageForm" data-form-action="tools/dns_import_tupa.php">Start</button>
                    <button class="btn btn-secondary" type="button" value="Cancel" data-load-content="tools/index.php">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>