<div class='page-header'>
    <h1 class="page-title">
        <tmpl_var name="head_txt">
    </h1>
</div>

<div class="row row-cards row-deck">

    <div class="card">

        <h4>
            <tmpl_var name="list_desc_txt">
        </h4>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Remote API URL</label>
                    <input class="form-control" type="text" id="remote_server" value="{tmpl_var name='remote_server'}" placeholder="https://www.example.com:8080/remote/" name="remote_server" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Remote User</label>
                    <input class="form-control" type="text" id="remote_user" value="{tmpl_var name='remote_user'}" name="remote_user" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Remote password</label>
                    <input class="form-control" type="text" id="remote_password" value="{tmpl_var name='remote_password'}" name="remote_password" />
                </div>
            </div>
        </div>

        <tmpl_if name="connected">

            <h4>{tmpl_var name="legend2_txt"}</h4>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="mail_domain" class="control-label">{tmpl_var name='mail_domain_txt'}</label>
                        <select name="mail_domain" id="mail_domain" class="form-control">
                            {tmpl_var name='mail_domain'}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="client_group_id" class="control-label">{tmpl_var name='client_group_id_txt'}</label>
                        <select name="client_group_id" id="client_group_id" class="form-control">
                            {tmpl_var name='client_group_id'}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="local_server_id" class="control-label">{tmpl_var name='local_server_txt'}</label>
                        <select name="local_server_id" id="local_server_id" class="form-control">
                            {tmpl_var name='local_server_id'}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-check custom">
                        <input type="checkbox" id="import_mailbox" value="1" name="import_mailbox" checked="checked" />

                        <label class="form-check-label">
                            {tmpl_var name='import_mailbox_txt'}
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-check custom">
                        <input type="checkbox" id="import_user_filter" value="1" name="import_user_filter" checked="checked" />
                        <label class="form-check-label">
                            {tmpl_var name='import_user_filter_txt'}
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-check custom">
                        <input type="checkbox" id="import_spamfilter" value="1" name="import_spamfilter" checked="checked" />
                        <label class="form-check-label">
                            {tmpl_var name='import_spamfilter_txt'}
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-check custom">
                        <input type="checkbox" id="import_alias" value="1" name="import_alias" checked="checked" />
                        <label class="form-check-label">
                            {tmpl_var name='import_alias_txt'}
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-check custom">
                        <input type="checkbox" id="import_forward" value="1" name="import_forward" checked="checked" />
                        <label class="form-check-label">
                            {tmpl_var name='import_forward_txt'}
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-check custom">
                        <input type="checkbox" id="import_aliasdomain" value="1" name="import_aliasdomain" checked="checked" />
                        <label class="form-check-label">
                            {tmpl_var name='import_aliasdomain_txt'}
                        </label>
                    </div>
                </div>
            </div>

        </tmpl_if>

        <div class="row">
            <div class="col-md-6">
                <tmpl_if name="msg">
                    <div id="OKMsg">
                        <p>
                            <tmpl_var name="msg">
                        </p>
                    </div>
                </tmpl_if>
                <tmpl_if name="error">
                    <div class='alert alert-danger clear'>
                        <div class='alert-label'>
                            <strong>
                                <tmpl_var name="error_txt">
                            </strong>
                        </div>
                        <div class='alert-content'>
                            <ul style="list-style-type:none">
                                <tmpl_var name="error">
                            </ul>
                        </div>
                    </div>
                </tmpl_if>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <input type="hidden" name="remote_session_id" value="{tmpl_var name='remote_session_id'}">
                <input type="hidden" name="connected" value="{tmpl_var name='connected'}">
                <div class="float-right" style="padding-top: 1rem; padding-bottom: 1rem;">
                    <tmpl_if name="connected">
                        <button class="btn btn-success" type="button" value="Import" data-submit-form="pageForm" data-form-action="tools/import_ispconfig.php">{tmpl_var name="btn_start_txt"}</button>
                        <button class="btn btn-secondary" type="button" value="Cancel" data-load-content="tools/index.php">{tmpl_var name="btn_cancel_txt"}</button>
                        <tmpl_else>
                            <button class="btn btn-success" type="button" value="Import" data-submit-form="pageForm" data-form-action="tools/import_ispconfig.php">{tmpl_var name="btn_connect_txt"}</button>
                            <button class="btn btn-secondary" type="button" value="Cancel" data-load-content="tools/index.php">{tmpl_var name="btn_cancel_txt"}</button>
                    </tmpl_if>
                </div>
            </div>
        </div>
    </div>
</div>