<div class='page-header'>
    <h1 class="page-title">
        <tmpl_var name="page_head_txt">
    </h1>
</div>

<div class="row row-cards row-deck">

    <div class="card">
        <tmpl_if name="okmsg">
            <div id="OKMsg">
                <p>
                    <tmpl_var name="okmsg">
                </p>
            </div>
        </tmpl_if>
        <tmpl_if name="error">
            <div class='alert alert-danger clear'>
                <div class='alert-label'>
                    <strong>
                        <tmpl_var name="error_txt">
                    </strong>
                </div>
                <div class='alert-content'>
                    <ul style="list-style-type:none">
                        <tmpl_var name="error">
                    </ul>
                </div>
            </div>
        </tmpl_if>
        <div class="form-group">
            <label for="sender" class="col-sm-3 control-label">{tmpl_var name='sender_txt'}</label>
            <div class="col-sm-9"><input type="text" name="sender" id="sender" value="{tmpl_var name='sender'}" class="form-control" /></div>
        </div>
        <div class="form-group">
            <label for="recipient" class="col-sm-3 control-label">{tmpl_var name='recipient_txt'}</label>
            <div class="col-sm-9"><select name="recipient" id="recipient" class="form-control">
                    {tmpl_var name='recipient'}
                </select></div>
        </div>
        <div class="form-group">
            <label for="subject" class="col-sm-3 control-label">{tmpl_var name='subject_txt'}</label>
            <div class="col-sm-9">
                <input type="text" name="subject" id="subject" value="{tmpl_var name='subject'}" class="form-control" />
                <label for="message" class="col-sm-3 control-label">{tmpl_var name='message_txt'}</label>

                <textarea class="form-control" name="message" id="message" rows="10">{tmpl_var name='message'}</textarea>
                <br />
                {tmpl_var name='variables_txt'}: {tmpl_var name="message_variables"} <br />{tmpl_var name='variables_description_txt'}
            </div>
        </div>
        <div class="clear">
            <div class="right">
                <button class="btn btn-success" type="button" value="{tmpl_var name='btn_send_txt'}" data-submit-form="pageForm" data-form-action="client/client_message.php">{tmpl_var name='btn_send_txt'}</button>
                <button class="btn btn-secondary" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="client/client_list.php">{tmpl_var name='btn_cancel_txt'}</button>
            </div>
        </div>
    </div>
</div>