<div class="row">
    <tmpl_if name="config_error_msg">
        <div class="alert alert-danger">
            <p>
                <tmpl_var name="configuration_error_txt">
                    <div>
                        <div style="float:left;width:150px;">{tmpl_var name='config_error_tstamp'} :&nbsp;</div>
                        <div style="padding-left:150px;">{tmpl_var name='config_error_msg'}</div>
                    </div>
            </p>
        </div>
    </tmpl_if>

    <div class="col-md-3">
        <label for="backup_interval" class="control-label">{tmpl_var name='backup_interval_txt'}</label>
        <select name="backup_interval" id="backup_interval" class="form-control">
            {tmpl_var name='backup_interval'}
        </select>
    </div>

    <div class="col-md-3">
        <label for="backup_copies" class="control-label">{tmpl_var name='backup_copies_txt'}</label>
        <select name="backup_copies" id="backup_copies" class="form-control">
            {tmpl_var name='backup_copies'}
        </select>
    </div>
</div>

<div class="row" style="padding-top: 10px">
    <div class="col-md-6">
        {tmpl_var name='backup_records'}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <div class="float-right" style="padding-top: 1rem; padding-bottom: 1rem;">
            <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="mail/mail_user_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="mail/mail_user_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div>
    </div>
</div>