<div class="row">
    <div class="col-md-7">
        <div class="form-group">
            <label for="autoresponder_subject" class="control-label">{tmpl_var name='autoresponder_subject_txt'}</label>
            <input class="form-control" type="text" name="autoresponder_subject" id="autoresponder_subject" value="{tmpl_var name='autoresponder_subject'}" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="form-group">
            <label for="autoresponder_text" class="control-label">{tmpl_var name='autoresponder_text_txt'}</label>
            <textarea class="form-control" name="autoresponder_text" id="autoresponder_text" rows='15' cols='30'>{tmpl_var name='autoresponder_text'}</textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="form-check custom">
            <input type="checkbox" value="y" id="autoresponder" name="autoresponder" {tmpl_var name='ar_active' } />
            <label class="form-check-label">
                {tmpl_var name='autoresponder_active'}
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="autoresponder_start_date" class="control-label">{tmpl_var name='autoresponder_start_date_txt'}</label>
            {tmpl_var name='autoresponder_start_date'}
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="autoresponder_end_date" class="control-label">{tmpl_var name='autoresponder_end_date_txt'}</label>
            {tmpl_var name='autoresponder_end_date'}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <div class="float-right" style="padding-top: 1rem; padding-bottom: 1rem;">
            <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="mail/mail_user_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="mail/mail_user_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div>
    </div>
</div>