<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="server_id" class="control-label">{tmpl_var name='server_id_txt'}</label>
            <select name="server_id" id="server_id" class="form-control">
                {tmpl_var name='server_id'}
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="source" class="control-label">{tmpl_var name='source_txt'}</label>
            <input type="text" name="source" id="source" value="{tmpl_var name='source'}" class="form-control" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="form-check custom">
            {tmpl_var name='active'}
            <label class="form-check-label">
                {tmpl_var name='active_txt'}
            </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <input type="hidden" name="access" value="OK">
        <div class="float-right" style="padding-top: 1rem; padding-bottom: 1rem;">
            <button class="btn btn-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="mail/mail_relay_recipient_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-secondary" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="mail/mail_relay_recipient_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div>
    </div>
</div>