<div class="row">
    <div class="col-md-2">

        <div class="form-group">
            <label for="rspamd_spam_greylisting_level" class="control-label">{tmpl_var name='rspamd_spam_greylisting_level_txt'}</label>
            <input type="text" name="rspamd_spam_greylisting_level" id="rspamd_spam_greylisting_level" value="{tmpl_var name='rspamd_spam_greylisting_level'}" class="form-control" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="rspamd_spam_tag_level" class="control-label">{tmpl_var name='rspamd_spam_tag_level_txt'}</label>
            <input type="text" name="rspamd_spam_tag_level" id="rspamd_spam_tag_level" value="{tmpl_var name='rspamd_spam_tag_level'}" class="form-control" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label for="rspamd_spam_tag_method" class="control-label">{tmpl_var name='rspamd_spam_tag_method_txt'}</label>
            <select name="rspamd_spam_tag_method" id="rspamd_spam_tag_method" class="form-control">
                {tmpl_var name='rspamd_spam_tag_method'}
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="rspamd_spam_kill_level" class="control-label">{tmpl_var name='rspamd_spam_kill_level_txt'}</label>
            <input type="text" name="rspamd_spam_kill_level" id="rspamd_spam_kill_level" value="{tmpl_var name='rspamd_spam_kill_level'}" class="form-control" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <div class="float-right" style="padding-top: 1rem; padding-bottom: 1rem;">
            <button class="btn btn-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="mail/spamfilter_policy_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-secondary" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="mail/spamfilter_policy_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div>
    </div>
</div>