<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="server_id" class="control-label">{tmpl_var name='server_id_txt'}</label>
            <select name="server_id" id="server_id" class="form-control">
                {tmpl_var name='server_id'}
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="priority" class="control-label">{tmpl_var name='priority_txt'}</label>
            <select name="priority" id="priority" class="form-control">
                {tmpl_var name='priority'}
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="policy_id" class="control-label">{tmpl_var name='policy_id_txt'}</label>
            <select name="policy_id" id="policy_id" class="form-control">
                {tmpl_var name='policy_id'}
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="email" class="control-label">{tmpl_var name='email_txt'}</label>
            <input type="text" name="email" id="email" value="{tmpl_var name='email'}" class="form-control" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="fullname" class="control-label">{tmpl_var name='fullname_txt'}</label>
            <input type="text" name="fullname" id="fullname" value="{tmpl_var name='fullname'}" class="form-control" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label for="local" class="control-label">{tmpl_var name='local_txt'}</label>
            <select name="local" id="local" class="form-control">
                {tmpl_var name='local'}
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <div class="float-right" style="padding-top: 1rem; padding-bottom: 1rem;">
            <button class="btn btn-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="mail/spamfilter_users_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-secondary" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="mail/spamfilter_users_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div>
    </div>
</div>