<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="policy_name" class="control-label">{tmpl_var name='policy_name_txt'}</label>
            <input type="text" name="policy_name" id="policy_name" value="{tmpl_var name='policy_name'}" class="form-control" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="virus_lover" class="control-label">{tmpl_var name='virus_lover_txt'}</label>
            <select name="virus_lover" id="virus_lover" class="form-control">
                {tmpl_var name='virus_lover'}
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="spam_lover" class="control-label">{tmpl_var name='spam_lover_txt'}</label>
            <select name="spam_lover" id="spam_lover" class="form-control">
                {tmpl_var name='spam_lover'}
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <div class="float-right" style="padding-top: 1rem; padding-bottom: 1rem;">
            <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="mail/spamfilter_policy_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="mail/spamfilter_policy_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div>
    </div>
</div>