<div class="row">
    <div class="col-md-5">
        <label for="jid_local_part">{tmpl_var name='jid_txt'}</label>
        <div class="input-group">
            <input type="text" id="jid_local_part" name="jid_local_part" value="{tmpl_var name='jid_local_part'}" class="form-control" />
            <div class="input-group-append">
                <span class="input-group-text">@</span>
                <select name="jid_domain" id="jid_domain" class="form-control">{tmpl_var name='jid_domain'}</select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="password" class="col-form-label">{tmpl_var name='password_txt'}</label>
            <div class="input-group">
                <input type="password" name="password" id="password" value="{tmpl_var name='password'}" title="{tmpl_var name='password_click_to_set_txt'}" class="form-control" autocomplete="off" onkeyup="pass_check(this.value);checkPassMatch('password','repeat_password');" />
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" onclick="generatePassword('password','repeat_password');">{tmpl_var name='generate_password_txt'}</button>
                </span>
            </div>
            <div>
                <label class="control-label">{tmpl_var name='password_strength_txt'}</label>
                <div class="checkbox">
                    <div id="passBar"></div>
                    <span id="passText">&nbsp;</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="repeat_password" class="col-form-label">{tmpl_var name='repeat_password_txt'}</label>
            <input type="password" name="repeat_password" id="repeat_password" value="" title="{tmpl_var name='password_click_to_set_txt'}" class="form-control" autocomplete="off" onkeyup="checkPassMatch('password','repeat_password');" />
        </div>
        <div>
            <div id="confirmpasswordError" style="display:none;" class="confirmpassworderror">{tmpl_var name='password_mismatch_txt'}</div>
            <div id="confirmpasswordOK" style="display:none;" class="confirmpasswordok">{tmpl_var name='password_match_txt'}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="form-check custom">
            {tmpl_var name='active'}
            <label class="form-check-label">
                {tmpl_var name='active_txt'}
            </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <input type="hidden" name="id" value="{tmpl_var name='id'}">
        <div class="float-right" style="padding-top: 1rem; padding-bottom: 1rem;">
            <button class="btn btn-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="mail/xmpp_user_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-secondary" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="mail/xmpp_user_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div>
    </div>
</div>